@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

.wiki-title {
  background: #4D83F7
}

body {
  /* @apply bg-slate-200 */
  @apply bg-[#262626]
  text-white
}
